body {
	font-size: 16px;
	color: #fff;
	background-color: #920CB0;
}

/** HEADER **/
#header-nav {
	background-color: #FDB605;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../images/pizza.150.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
	padding-top: -25px;
}

.navbar-brand h1 { /* Web name */
	color: #DB3100;
	font-size: 3em;
	text-transform: capitalize;
	font-weight: bolder;
	text-shadow: 1px 1px 1px #F2600C;
	line-height: .75;
	margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus { /* Logo link */
	text-decoration: none;
}

.navbar-brand p { /* cheese wave */
	color: #000000;
	font-size: 1.3em;
	margin-top: 10px;
}

.navbar-brand p span { /* we got cheese */
	vertical-align: middle;
}

#nav-list {
	list-style: none;
	margin-top: 10px;
}

#nav-list a {
	color: #D62813;
	text-align: center;

}

#nav-list a span {
	font-size: 1.8em;

}

button.navbar-toggle.collapsed { /* Button border*/
	border-color: #DB3100;
	border-width: 2px;
}

span.icon-bar { /* Button lines*/
	background-color: #DB3100;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -10px;
}



/** END HEADER **/

/***** Extra small devices *****/

@media (max-width: 767px) {
	
	#logo-img{
		margin: 15px 20px 15px 30px;

	}

	#collapsable-nav {
		background-color: #F7E18F;
	}

}

/** Body **/

.container-fluid  {
	
	margin: 20px 20px 20px 20px;
	height: 1000px;
	position: absolute;
}

.container-fluid div {
	text-align: center;
	font-size: 1.3em;
	background-color: #B619FF;
	border: 5px;
	border-color: #F4F1F2;
}